<fieldset>
    <legend class="legend">Your info</legend>

    <span class="legend">Not Signed Up Yet.</span>
    <a ui-sref="public.sign-up"
       class="legend"
       ng-if="!userInfoCtrl.userSaved">
        Sign up Now!</a>

    <section id="user-info" class="user-info"
             ng-if="userInfoCtrl.userSaved">
        <span>Firstname: {{userInfoCtrl.user.firstname}}</span> <br>
        Lastname: {{userInfoCtrl.user.lastname}} <br>
        Email: {{userInfoCtrl.user.email}} <br>
        Phonenumber: {{userInfoCtrl.user.phoneNumber}} <br>
        Favorite dish: {{userInfoCtrl.user.favoriteDish}}
        <img class="img-responsive" width="250" height="150"
             ng-src="https://klatysheva-angularjs.herokuapp.com/images/{{userInfoCtrl.user.favoriteDish}}.jpg"
             src="https://klatysheva-angularjs.herokuapp.com/images/{{userInfoCtrl.user.favoriteDish}}.jpg">
        <hr class="visible-xs">
    </section>
</fieldset>